/* Color
 * https://color.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=0&name=My%20Color%20Theme&mode=cmyk&rgbvalues=0.9215686274509803,0.5725490196078431,0.28627450980392155,0.9299999999999999,0.4373726527612035,0.827150697341361,0.12355456389749819,0.14467387841742263,0.26,0.779,0.8200000000000001,0.8030519345535375,0.7801984595251626,0.788235294117647,0.7019607843137254&swatchOrder=0,1,2,3,4
 */


* {
    color: #202020;
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
}

code {
    background-color: #e3e9f0;
    border: 1px solid #202020;
	border-radius: 4px;
    display: inline-block;
    padding: 8px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f9;
}

.sidebar {
    background-color: #202020;
    display: block;
    float: left;
    width: 250px;
    height: 100%;
    padding: 0px 2px;
    
}

.sidebar-entry {
    background-color: #f9f9f9;
    
    transition: background-color 300ms;
    
    font-size: 24px;
    font-weight: bold;
    
    display: block;
    width: 100%;
    margin: 2px 0 0 0;
    padding: 10px;
    height: 63px;
    border-radius: 2px;
    
    cursor: pointer;
}

.sidebar-entry:hover {
    background-color: steelblue;
    background-image: none;
}

.sidebar-active {
    background-color: lightsteelblue;
    /*background-image: linear-gradient(to right, #c43900, #e1e1e1);*/
    font-style: bold;
}

.header {
    background-color: #202020;
    color: #e1e1e1;
    font-size: 36px;
    width: 100%;
    height: 65px;
    padding: 10px 0 0 265px;
}

.header * {
    color: #e1e1e1;
    float: left;
    margin-right: 20px;
}

.content {
    padding: 10px 15px;
	overflow: scroll;
	height: calc(100vh - 65px);
    font-size: 18px;
}
